@import "./common.css";

body {
  width: 100%;
  height: 100vh;
  background-color: gainsboro;

  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  width: 80%;
  min-width: 73rem;
  height: 85%;
  border-radius: 0.6rem;
  background-color: #ffffff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
}

/* header */
header {
  background-color: #f8f8f8;
  position: sticky;
  width: 100%;

  display: flex;
  justify-content: center;
  padding: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}
.deco-cont {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);

  display: flex;
  align-items: center;
  gap: 0.6rem;

  * {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
  }

  .r {
    background-color: #fe5f57;
  }
  .y {
    background-color: #febc2e;
  }
  .g {
    background-color: #28c841;
  }
}

/* main */
main {
  margin-bottom: auto;
  padding: 4rem;
  overflow: scroll;
}

#search-cont {
  .descript-txt {
    font-size: 2.4rem;
    line-height: 1.6;
  }

  #username {
    width: 100%;
  }
}
.search-form {
  display: flex;
  gap: 1.2rem;
  margin: 2rem 0 4rem;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    font-size: 1.6rem;
    border-radius: 0.6rem;
    border: 1px solid lightgray;
    padding: 1.2rem 5.3rem 1.2rem 2rem;
    border-radius: 50rem;
    text-overflow: ellipsis;
  }

  .search-btn {
    position: absolute;
    right: 1rem;
    padding: 0.6rem 1.2rem;
    font-size: 1.6rem;
    border-radius: 0.6rem;
  }
}

.user-list {
  margin-top: 2rem;
}

.user-list > li {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 0;
}
.user-list > li + li {
  border-top: 1px double gray;
}

.user-list .profile {
  width: 100%;
  height: 100%;

  display: flex;
  gap: 2rem;
  height: fit-content;

  .profile-img {
    width: 35%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    img {
      width: 100%;
    }

    .profile-link {
      width: 100%;
      display: block;
      text-align: center;
      padding: 0.6rem 1.2rem;
      border-radius: 1rem;
      font-size: 1.4rem;
      color: #fff;
    }
  }
}

.user-list .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-list {
  margin: 1.2rem 0 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  border: 1px solid lightgray;
  font-size: 1.4rem;

  li {
    padding: 1rem;
    height: 100%;
    display: flex;
    position: relative;
  }

  span {
    position: absolute;
    left: 14rem;
    font-weight: 600;
    max-width: Calc(100% - 16rem);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  li + li {
    border-top: 1px solid gray;
  }
}

/* repository */
.repository {
  .cont-title {
    font-size: 2.4rem;
    line-height: 1.6;
    font-weight: 600;
    margin-top: 2rem;
  }

  .repo-list li {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid lightgray;
    padding: 0.6rem 1.2rem;
    margin: 0.6rem 0;
    border-radius: 0.6rem;

    .title {
      width: fit-content;
      margin-right: auto;
    }
  }
}

/* footer */
footer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  color: gray;
  z-index: -5;

  .github-link {
    position: relative;
    z-index: 5;
    &:hover {
      text-decoration: underline;
    }
  }
}

/* common */
.blue {
  background-color: #4780ed;
}
.gray {
  background-color: #adb4bb;
}
.green {
  background-color: #02b167;
}
.cyan {
  background-color: #1796ae;
}

.tag-list {
  display: flex;
  gap: 0.6rem;
}
.tag-list li {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: white;
  white-space: nowrap;
}
/* /common */
